.popper {
    position: absolute;
    width: 300px;
    background: white;
    bottom: 40px;
    border-radius: 5px;
    padding: 25px;
}

.inner {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 15px;
}

.left {
    position: relative;
    margin-left: -70px;
}

.popper-fadeIn {
    top: -20%;
    animation: slidePopover cubic-bezier(0.45, 0.05, 0.55, 0.95) .3s forwards;
}

.popper-scale {
    opacity: 0;
    animation: fadeInPopover cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s forwards;
}

.right {
    display: block;
    text-align: left;
}

.title {
    color: #795548;
    font-weight: 500;
}

.text {
    color: black;
    margin-left: 15px;
    display: block;
    font-size: 15px;
}

.text-wrapper {
    max-height: 200px;
    overflow-y: auto;
}

.button-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .popper {
        width: auto;
    }
    .left {
        margin-left: 0;
    }
}

/* For popper on mobile make window in the center */
@media (max-width: 425px) {
    .popper {
        bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    .left {
        margin-left: 0;
    }
}