:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

button:not(:disabled) {
  cursor: pointer;
}


/* Animations */

.modal-slide {
  top: -20%;
  animation: slide cubic-bezier(0.45, 0.05, 0.55, 0.95) .3s forwards;
}

.modal-fadeIn {
  opacity: 0;
  animation: fadeIn cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s forwards;
}

.popper-scale {
  transform: scale(0);
  opacity: 0;
  animation: scale linear .2s forwards, fadeIn cubic-bezier(0.25, 0.46, 0.45, 0.94) .6s forwards;
}

.popper-fadeIn {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  animation: popperFadeIn linear 100ms forwards;
}

@keyframes slide {
  100% {
    top: 36%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes popperFadeIn {
  100% {
    opacity: 1;
    visibility:visible;
    transform: translateY(0);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}