.star {
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 67px;
    background: #febf00;
}

.star-not-selected {
    opacity: .3;
}

.star-selected {
    opacity: 1;
}

.top-left-top-square-line,
.top-left-middle-square-line,
.top-right-top-square-line,
.top-right-middle-square-line,
.bottom-left-top-square-line,
.bottom-left-bottom-square-line,
.bottom-right-top-square-line,
.bottom-right-bottom-square-line,
.bottom-left-square-line,
.bottom-right-square-line {
    position: absolute;
    background: white;
    cursor: default;
}

.top-left-top-square-line {
    width: 25px;
    height: 25px;
    left: 5px;
    top: -7px;
    transform: rotate(25deg);
}

.top-left-middle-square-line {
    width: 25px;
    height: 26px;
    left: -3px;
    top: -2px;
    transform: rotate(-7deg);
}

.top-right-top-square-line {
    width: 25px;
    height: 25px;
    left: 39px;
    top: -7px;
    transform: rotate(67deg);
}

.top-right-middle-square-line {
    width: 26px;
    height: 25px;
    left: 46px;
    top: -2px;
    transform: rotate(5deg);
}

.bottom-left-top-square-line {
    width: 27px;
    height: 25px;
    left: -16px;
    top: 29px;
    transform: rotate(44deg);
}

.bottom-left-bottom-square-line {
    width: 26px;
    height: 27px;
    left: -12px;
    top: 40px;
    transform: rotate(9deg);
}

.bottom-right-top-square-line {
    width: 30px;
    height: 25px;
    left: 58px;
    top: 31px;
    transform: rotate(45deg);
}

.bottom-right-bottom-square-line {
    width: 26px;
    height: 27px;
    left: 55px;
    top: 40px;
    transform: rotate(-8deg);
}

.bottom-left-square-line {
    width: 30px;
    height: 27px;
    left: 12px;
    top: 62px;
    transform: rotate(-29deg);
}

.bottom-right-square-line {
    width: 32px;
    height: 31px;
    left: 24px;
    top: 62px;
    transform: rotate(-62deg);
}