.button {
    position: relative;
    color: white;
    min-width: 135px;
    opacity: .8;
    transition: opacity .1s;
}

.primary {
    background-color: #007bff;
}

.secondary {
    background-color: #28a745;
}

.primary:hover,
.secondary:hover {
    opacity: 1;
}