.button {
    position: relative;
    color: white;
    min-width: 135px;
    opacity: 1;
    transition: opacity .1s, filter .1s;
}

.primary {
    background-color: #007bff;
}

.secondary {
    background-color: #28a745;
}

.popover-color {
    background-color: #90280f;
}

.button:hover {
    opacity: .8;
}

.button:disabled {
    filter: grayscale(1);
}